.qicknav-content{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    align-items: center;
    border-radius: 10px;
}
.quicknav-right{
    display: flex;
    width: 50%;
}

.info,
.guest,
.location-quick{
    width: 100%;
    margin-left: 2%;
    border: 1px solid gray;
    text-align: center;
    border-radius: 16px;
    padding: 1%;
}
.info:hover,
.guest:hover,
.location-quick:hover{
background-color: #163668;
color: aliceblue;
}
.info{
    background-color: #163668;
    color: aliceblue;
}