.qicknav-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2%;
    align-items: center;
    
}
.quicknav-right{
    display: flex;
}

.info,
.guest,
.location-quick{
    width: 40%;
    margin-left: 2%;
    border: 1px solid gray;
    text-align: center;
    border-radius: 16px;
    padding: 2%;
}
.info:hover,
.guest:hover,
.location-quick:hover{
background-color: #163668;
color: aliceblue;
}