.navbar{
    width: 100%;
    background-color:#00245C;
    padding: 2%;
    color: white;
    position: relative;
    background-image: url("../../assets/backgroudtop/cloudbackground.png");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100%;
}

.navbar-left{
    margin-left: 15%;
    display: flex;
}

.left-items{
    padding:0% 10%;
    font-size: x-large;
    background-color:#00245C;
    color: white;
    border: none;
}
.left-items:hover{
    background-color: #0A6ADA;
}

.btn-navbar {
    width: 100%;
    display: flex;
    margin: 0% 2%;
    text-align: center;
    background-color: rgba(108, 134, 177, 0.2);
    backdrop-filter: blur;
    padding: 2%;
    border-radius: 180px;
    font-size: 14px;
}
.navbar-right {
    width: 30%;
    display: flex;
}

.partner,
.profile-user{
    justify-content: space-around;
    align-items: center;
}

