.formbtn{
    width: 89.5%;
    margin: 0% 8% 0% 10.3%;
    border: 1px solid ;
    display: flex;
    border-radius: 80px;
}
.formbtn-item{
    width: 100%;
    height: 100%;
    margin: 2% 0.7%;
}
.formbtn-item:first-child{
    padding-left: 4%;
}
.title-form{
    padding-left: 5%;
    color: rgb(183,183,183);
}
.form-area{
    width: 100%;
    display: flex;
    background-color:rgba(25, 29, 35, 0.05);
    padding: 7% 7%;
    border-radius: 70px;
    border: none;
    color: black;
}
.input-form{
    width: 100%;
    background-color:rgb(243,243,244);
    border-radius: 70px;
    border: none;
}
.fa-chevron-down,
.fa-calendar-days
{
    color: rgba(25, 29, 35, 0.05);
}
.form-searchflight{
    width: 100%;
}
.search-flight{
    width: 100%;
}
.formbtn-btn{
    width: 100%;
    height: 100%;
    margin: auto;
    padding-right:5%;
}
.btn-search{
    width: 100%;
    border-radius: 70px;
    padding: 10%;
    background-color: red;
    border: none;
}